* {
    padding: 0;
    margin: 0;
    background-color:rgb(190, 235, 190);
}

.App {
    margin: 20px auto;
    text-align: center;
    color: rgb(0, 43, 0);
}

.active {
    color: lightcoral;
    text-decoration: none;
}

.courses-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    max-width: 600px; 
    margin: 10px auto;
    padding: 20px;
}

.divCourseLink {
    /* width: 100%;  */
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.courseLink {
    text-decoration: none;
    font-size: 25px;
}

.courseLink:hover {
    text-decoration: underline;
    color: rgb(4, 197, 117);
}

a {
    color: rgb(0, 43, 0);
    font-size: 25px;
    background-color: transparent;
}

a:hover {
    color: rgb(4, 197, 117);
}

nav a {
    margin: 15px;
}

nav {
    background-color: lightgreen;
    padding: 10px;
}

h1 {
    font-size: 60px;
    margin-top: 20px;
}

button {
    padding: 15px;
    font-size: 30px;
    border-radius: 5px;
    border: 0;
    margin: 20px;
    cursor: pointer;
}